doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Apple TV parallax effect example
		link(rel="stylesheet", href="css/reset.css")
		link(rel="stylesheet", href="css/style.css")
	body
		.poster
		.shine
		.layer-1
		.layer-2
		.layer-3
		.layer-4
		.layer-5